Adafruit-Blinka==8.50.0
adafruit-blinka-bleio==4.1.2
adafruit-circuitpython-ble==10.0.11
adafruit-circuitpython-bme680==3.7.11
adafruit-circuitpython-busdevice==5.2.10
adafruit-circuitpython-connectionmanager==3.1.2
adafruit-circuitpython-lis3mdl==1.2.1
adafruit-circuitpython-lsm6ds==4.5.13
adafruit-circuitpython-register==1.10.1
adafruit-circuitpython-requests==4.1.8
adafruit-circuitpython-typing==1.11.2
adafruit-circuitpython-veml7700==2.1.0
Adafruit-PlatformDetect==3.75.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
bleak==0.22.3
click==8.1.7
hidapi==0.14.0.post4
packaging==24.2
pipdeptree==2.24.0
pyftdi==0.56.0
pyobjc-core==10.3.2
pyobjc-framework-Cocoa==10.3.2
pyobjc-framework-CoreBluetooth==10.3.2
pyobjc-framework-libdispatch==10.3.2
pyserial==3.5
python-dotenv==1.0.1
pyusb==1.2.1
setuptools==75.6.0
typing_extensions==4.0.1
